{% include base_path %}

<meta charset="utf-8">
<meta name="description" content="{{ site.description | escape }}">
{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- Favicon / site icon using your photo -->
<link rel="icon" type="image/jpeg" href="https://avimita-amc8313.github.io/avimita_chatterjee/images/avimita.jpg">
<link rel="apple-touch-icon" href="https://avimita-amc8313.github.io/avimita_chatterjee/images/avimita.jpg">
<meta name="msapplication-TileImage" content="https://avimita-amc8313.github.io/avimita_chatterjee/images/avimita.jpg">
<meta name="theme-color" content="#ffffff">

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">

<!-- Last line of _includes/head.html -->

<!-- <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Avimita Chatterjee",
  "url": "https://avimita-amc8313.github.io/avimita_chatterjee/",
  "affiliation": {
    "@type": "Organization",
    "name": "The Pennsylvania State University"
  },
  "jobTitle": "Ph.D. Candidate in Computer Science and Engineering",
  "sameAs": [
    "https://www.linkedin.com/in/avimita-chatterjee/",
    "https://scholar.google.com/citations?user=TT9m3j0AAAAJ&hl=en",
    "https://orcid.org/0009-0001-7421-9334"
  ]
}
</script> -->

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Avimita Chatterjee",
  "url": "https://avimita-amc8313.github.io/avimita_chatterjee/",
  "jobTitle": "Postdoctoral Scholar at The Berkeley Lab,",
  "affiliation": {
    "@type": "GovernmentOrganization",
    "name": "Lawrence Berkeley National Laboratory"
  },
  "alumniOf": {
    "@type": "EducationalOrganization",
    "name": "The Pennsylvania State University"
  },
  "sameAs": [
    "https://www.linkedin.com/in/avimita-chatterjee/",
    "https://scholar.google.com/citations?user=TT9m3j0AAAAJ&hl=en",
    "https://orcid.org/0009-0001-7421-9334"
  ]
}
</script>
